.title-bar {
    padding: 8px 16px;
    width:100vw;
    border:none;
    display:block;
    outline:0;
    white-space:normal;
    position:fixed;
    overflow:hidden;
    display:inline-block;
    z-index:0;
    background-color: rgb(36, 36, 36);
    color: #fff;
    top:0;
    left:0;
    /*box-shadow:0px 8px 4px #b1b1b1;*/
}

.button {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    color: white;
}

.button-hover:hover {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    color: rgb(207, 114, 0);
    background-color: rgb(206, 206, 206);
    border-radius: 12px;
}

.center {
    text-align: center;
}

.body {
    font-family: "DejaVu Sans Mono", sans-serif;
    background-image: url('images/room-bg-cut.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    white-space: normal;
}

.dropdown {
    position: relative;
    width: 100%;
    display:inline-block;
    cursor:pointer;
}

.main {
    position: relative;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color:white;
    overflow:auto;
    text-decoration:none;
    /*box-shadow:2px 8px 4px rgb(177,177,177,0.16);*/
}

.mainBox {
    background-color: rgb(0,0,0,0.40);
    border-radius: 16px;
    box-shadow:0px 0px 10em rgba(255, 255, 255, 0.70);
    top: 12em;
    width: 70%;
    height: 32vw;
    min-width:320px;
    min-height:320px;
}

::selection {
    background: #F6B783;
    color: black;
}
